* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(white, #e4e4e4 60%);
    overflow-x: hidden;
}

.container {
    width: 75%;
    margin: auto;
}

/* ===== Header ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 48px;
}

#logo {
    color: #000042;
    font-weight: bold;
}

#header_button {
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    background: hsl(240, 100%, 13%);
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}

#header_button:hover {
    background: hsl(240, 100%, 30%);
    cursor: pointer;
}

/* ===== Content Section ===== */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0;
    overflow: hidden;
}

.content .text {
    width: 50%;
}

.content .text h1 {
    font-size: 60px;
    color: hsl(240, 100%, 13%);
    font-weight: 770;
}

.content .text p {
    width: 70%;
    margin: 20px 0;
    line-height: 30px;
    font-size: 22px;
    color: rgb(134, 134, 134);
}

.content .text button {
    width: 150px;
    padding: 20px;
    margin: 20px 0;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
    background: linear-gradient(#ff3300, #f55bb0);
    color: white;
    font-size: 16px;
}

.content .text button:hover {
    background: linear-gradient(#b82500, #af3f7d);
    cursor: pointer;
}

/* ===== Image Styling ===== */
.content .image {
    width: 250px;
    height: 350px;
    border-radius: 150px;
    overflow: hidden;
    background: linear-gradient(to bottom, #ff3300 0%, #f55bb0 25%);
    position: relative;
    border: none;
}

.content .image::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 40%;
    width: 60%;
    height: 26.2%;
    rotate: 138deg;
    transform: translate(-50%, -50%);
    background: linear-gradient(darkviolet, blue);
    z-index: -2;
}

.content .image img {
    height: 100%;
    border-radius: 150px;
    position: relative;
    right: 50%;
}

/* ===== Boxes Section ===== */
.boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 200px 0;
}

.boxes .box1,
.boxes .box2,
.boxes .box3,
.boxes .box4,
.boxes .box5,
.boxes .box6 {
    background: linear-gradient(to bottom, #e4e4e4, #fff);
    width: 330px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    padding: 40px 20px 20px;
    margin: 20px 0;
}

.boxes .box1 {
    background: linear-gradient(to bottom, #ff3300, #f55bb0);
}

.boxes .box4,
.boxes .box5,
.boxes .box6 {
    background: white;
}

.boxes p {
    color: #6d6d6d;
    margin: 25px 0;
    line-height: 25px;
}

.box1 p {
    color: white;
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
}

/* ===== Icons & Links ===== */
.boxes i {
    position: absolute;
    top: -25px;
    left: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ff3300, #f55bb0);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
}

.boxes a {
    position: absolute;
    bottom: 17px;
    text-decoration: none;
    color: #fd1280;
    font-weight: bold;
}

/* ===== Footer ===== */
footer {
    background: #00004b;
    font-size: 48px;
    padding: 35px 0;
}

.footer_content {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: white;
    font-weight: bold;
}

footer button {
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
    background: linear-gradient(#a73d90, #ff00f2);
    color: white;
    font-size: 20px;
}

footer button:hover {
    background: linear-gradient(#c9009d, #8a0083);
    cursor: pointer;
}

/* ===== Media Query: Small Screens ===== */
@media (max-width: 650px) {
    .container {
        width: 90%;
        text-align: center;
    }

    header,
    footer {
        font-size: 34px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .boxes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
        margin: 200px 0;
    }

    .boxes .box1,
    .boxes .box2,
    .boxes .box3,
    .boxes .box4,
    .boxes .box5,
    .boxes .box6 {
        width: 100%;
        height: 230px;
        margin: 15px 0;
        text-align: left;
    }

    .boxes p {
        margin: 35px 0;
    }

    .content .text,
    .content .text p {
        width: 100%;
    }

    .content .text h1 {
        font-size: 42px;
    }

    .content .text p {
        font-size: 18px;
    }

    .content .text button {
        margin-bottom: 50px;
    }

    .footer_content {
        width: 90%;
    }

    .content .image {
        width: 280px;
        height: 280px;
        border-radius: 50%;
    }

    .content .image::after {
        display: none;
    }
}

/* ===== Media Query: Medium Screens ===== */
@media (min-width: 651px) and (max-width: 992px) {
    .container {
        width: 80%;
    }

    .content .text {
        width: 55%;
    }

    .content .text h1 {
        font-size: 55px;
    }

    .content .text p {
        width: 80%;
        font-size: 20px;
    }

    .content .image::after {
        height: 24%;
    }

    .boxes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
        margin: 200px 0;
    }

    .boxes .box1,
    .boxes .box2,
    .boxes .box3,
    .boxes .box4,
    .boxes .box5,
    .boxes .box6 {
        width: 100%;
        height: 230px;
        margin: 15px 0;
        text-align: left;
    }

    .boxes p {
        margin: 35px 0;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        width: 80%;
    }

    .content h1 {
        font-size: 58px;
    }

    .content .text p {
        width: 75%;
    }

    .boxes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
        margin: 200px 0;
    }
}

@media (min-width: 1200px){
    .boxes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
        margin: 200px 0;
    }
}